<div class="p-fluid mt-2 mb-2">
  <div class="p-field">
    <label class="{{ styleClassLabel }}">{{ label }}</label>
    <div class="p-inputgroup">
    <span *ngIf="withIcon" class="p-inputgroup-addon">
      <i class="{{ icon }}"></i>
    </span>
      <input
        *ngIf="!isTextArea && !isUploadFile && !isEditor && !isCheckbox && !isStringList && !isSwitchInput"
        (change)="validations()"
        (keyup)="validations()"
        [type]="type"
        [disabled]="disabled"
        [required]="required"
        [class]="styleClass"
        [(ngModel)]="value"
        pInputText/>
      <textarea
        *ngIf="isTextArea"
        rows="5"
        cols="30"
        pInputTextarea
        [class]="styleClass"
        [(ngModel)]="value"
        [disabled]="disabled"
        [required]="required"
        (change)="validations()"
        (keyup)="validations()"
      ></textarea>
      <p-fileUpload
        *ngIf="isUploadFile"
        [ngStyle]="{width:'100%'}"
        [class]="styleClass"
        name="demo[]"
        url="{{url}}"
        (onUpload)="onUpload($event)"
        accept="{{formatAccept}}">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
      <p-editor
        *ngIf="isEditor"
        [(ngModel)]="value"
        [ngStyle]="{width:'100%'}"
        [style]="{'height':'320px'}"
        (change)="validations()"
        (keyup)="validations()"
      ></p-editor>
      <p-checkbox
        *ngIf="isCheckbox"
        [binary]="true"
        [disabled]="disabled"
        [required]="required"
        [(ngModel)]="value"
        (change)="validations()"
      ></p-checkbox>
      <p-chips
        *ngIf="isStringList"
        [style]="{width:'100%'}"
        [(ngModel)]="value"
        [class]="styleClass"
        [disabled]="disabled"
        [required]="required"
        (change)="validations()"
        (keyup)="validations()"
      ></p-chips>
      <p-inputSwitch
        *ngIf="isSwitchInput"
        (change)="validations()"
        [disabled]="disabled"
        [required]="required"
        [(ngModel)]="value"
      ></p-inputSwitch>
    </div>
    <small *ngIf="showSmall">{{ labelSmall }}</small>
  </div>
</div>
