<div class="p-fluid mt-2 mb-2">
  <div class="p-field">
    <label class="{{ styleClassLabel }}">{{ label }}</label>
    <div class="p-inputgroup">
    <span *ngIf="withIcon" class="p-inputgroup-addon">
      <i class="{{ icon }}"></i>
    </span>
      <input
        *ngIf="!isTextArea && !isUploadFile && !isCheckboxButton && !isEditor && !isRadioButton && !isCheckbox && !isStringList && !isSwitchInput"
        (change)="validations()"
        (keyup)="validations()"
        [type]="type"
        [disabled]="disabled"
        [required]="required"
        [class]="styleClass"
        [(ngModel)]="value"
        [pTooltip]="labelTooltip"
        [tooltipPosition]="positionTooltip.toLowerCase()"
        pInputText/>
      <textarea
        *ngIf="isTextArea"
        rows="5"
        cols="30"
        pInputTextarea
        [class]="styleClass"
        [(ngModel)]="value"
        [disabled]="disabled"
        [required]="required"
        (change)="validations()"
        [pTooltip]="labelTooltip"
        [tooltipPosition]="positionTooltip.toLowerCase()"
        (keyup)="validations()"
      ></textarea>
      <p-fileUpload
        *ngIf="isUploadFile"
        [ngStyle]="{width:'100%'}"
        [class]="styleClass"
        name="demo[]"
        url="{{url}}"
        (onUpload)="onUpload($event)"
        accept="{{formatAccept}}">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
      <p-editor
        *ngIf="isEditor"
        [(ngModel)]="value"
        [ngStyle]="{width:'100%'}"
        [style]="{'height':'320px'}"
        (onTextChange)="validations()"
        (onSelectionChange)="validations()"
      ></p-editor>
      <p-checkbox
        *ngIf="isCheckbox"
        [binary]="true"
        [disabled]="disabled"
        [required]="required"
        [(ngModel)]="value"
        (onChange)="validations()"
      ></p-checkbox>
      <p-toggleButton
        *ngIf="isCheckboxButton"
        [(ngModel)]="value"
        onLabel="Confirm"
        offLabel="Reject"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        [disabled]="disabled"
        [required]="required"
        (onChange)="validations()"
        [style]="{'width': '10em'}"
      ></p-toggleButton>
      <p-chips
        *ngIf="isStringList"
        [style]="{width:'100%'}"
        [(ngModel)]="value"
        [class]="styleClass"
        [disabled]="disabled"
        [required]="required"
        (onChipClick)="validations()"
        (onAdd)="validations()"
        (onRemove)="validations()"
      ></p-chips>
      <p-inputSwitch
        *ngIf="isSwitchInput"
        (onChange)="validations()"
        [disabled]="disabled"
        [required]="required"
        [(ngModel)]="value"
      ></p-inputSwitch>
      <div *ngIf="isRadioButton" class="p-field-checkbox">
        <div *ngFor="let radioButton of listRadioButtons" class="p-field-radiobutton">
          <p-radioButton
            [value]="radioButton"
            [(ngModel)]="value"
            (onClick)="validations()"
            [disabled]="disabled"
            [required]="required"
            [label]="radioButton"
          ></p-radioButton>
        </div>
      </div>
    </div>
    <small *ngIf="showSmall">{{ labelSmall }}</small>
  </div>
</div>
