<div style="padding: 0; margin: 0" class="{{styleClass}}">
  <h1 style="padding: 0; margin: 0" *ngIf="enumTypeWord.Title == type">
    <p style="padding: 0; margin: 0" *ngIf="strong && textDecoration != enumTextDecoration.Link">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </p>
    <p style="padding: 0; margin: 0" *ngIf="!strong && textDecoration != enumTextDecoration.Link">
      {{ value }}
    </p>
    <a style="padding: 0; margin: 0" *ngIf="strong && textDecoration == enumTextDecoration.Link" href="{{refOfTheLink}}">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </a>
    <a style="padding: 0; margin: 0" *ngIf="!strong && textDecoration == enumTextDecoration.Link" href="{{refOfTheLink}}">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </a>
  </h1>

  <h3 style="padding: 0; margin: 0" *ngIf="enumTypeWord.Subtitle == type">
    <p style="padding: 0; margin: 0" *ngIf="strong && textDecoration != enumTextDecoration.Link">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </p>
    <p style="padding: 0; margin: 0" *ngIf="!strong && textDecoration != enumTextDecoration.Link">
      {{ value }}
    </p>
    <a style="padding: 0; margin: 0" *ngIf="strong && textDecoration == enumTextDecoration.Link" href="{{refOfTheLink}}">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </a>
    <a style="padding: 0; margin: 0" *ngIf="!strong && textDecoration == enumTextDecoration.Link" href="{{refOfTheLink}}">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </a>
  </h3>

  <h6 style="padding: 0; margin: 0" *ngIf="enumTypeWord.Normal == type" class="{{ styleClass }}">
    <p style="padding: 0; margin: 0" *ngIf="strong && textDecoration != enumTextDecoration.Link">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </p>
    <p style="padding: 0; margin: 0" *ngIf="!strong && textDecoration != enumTextDecoration.Link">
      {{ value }}
    </p>
    <a style="padding: 0; margin: 0" *ngIf="strong && textDecoration == enumTextDecoration.Link" href="{{refOfTheLink}}">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </a>
    <a style="padding: 0; margin: 0" *ngIf="!strong && textDecoration == enumTextDecoration.Link" href="{{refOfTheLink}}">
      <strong style="padding: 0; margin: 0">  {{ value }} </strong>
    </a>
  </h6>
</div>
