<p-card header="Calendar Component">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Basic">
      <app-calendar-primeng
        [label]="'Basic'"
      ></app-calendar-primeng>
    </p-accordionTab>
    <p-accordionTab header="Required">
      <app-calendar-primeng
        [label]="'Required'"
        [required]="true"
      ></app-calendar-primeng>
    </p-accordionTab>
    <p-accordionTab header="Disabled">
      <app-calendar-primeng
        [label]="'Disabled'"
        [disabled]="true"
      ></app-calendar-primeng>
    </p-accordionTab>
    <p-accordionTab header="With Value">
      <app-calendar-primeng
        [label]="'With Value'"
        [value]="date"
      ></app-calendar-primeng>
    </p-accordionTab>
    <p-accordionTab header="With Tooltip">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <app-calendar-primeng
              [label]="'Top'"
              [labelTooltip]="'Tooltip'"
              [positionTooltip]="enumPosition.Top"
            ></app-calendar-primeng>
          </div>
          <div class="col-6">
            <app-calendar-primeng
              [label]="'Bottom'"
              [labelTooltip]="'Tooltip'"
              [positionTooltip]="enumPosition.Bottom"
            ></app-calendar-primeng>
          </div>
          <div class="col-6">
            <app-calendar-primeng
              [label]="'Right'"
              [labelTooltip]="'Tooltip'"
              [positionTooltip]="enumPosition.Right"
            ></app-calendar-primeng>
          </div>
          <div class="col-6">
            <app-calendar-primeng
              [label]="'Left'"
              [labelTooltip]="'Tooltip'"
              [positionTooltip]="enumPosition.Left"
            ></app-calendar-primeng>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="With Small">
      <app-calendar-primeng
        [label]="'With Small'"
        [showSmall]="true"
        [labelSmall]="'Text Example'"
      ></app-calendar-primeng>
    </p-accordionTab>
    <p-accordionTab header="With Time">
      <app-calendar-primeng
        [label]="'With Time'"
        [withTime]="true"
      ></app-calendar-primeng>
    </p-accordionTab>
  </p-accordion>
</p-card>
